@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400&display=swap');

#board {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Gemunu Libre', sans-serif;
  /* color: rgb(2, 172, 172); */
}

#board div:nth-child(1) {
  border-top: none;
  border-left: none;
}

#board div:nth-child(2) {
  border-top: none;
}

#board div:nth-child(3) {
  border-top: none;
  border-right: none;
}

#board div:nth-child(4) {
  border-left: none;
}

#board div:nth-child(6) {
  border-right: none;
}

#board div:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

#board div:nth-child(8) {
  border-bottom: none;
}

#board div:nth-child(9) {
  border-right: none;
  border-bottom: none;
}